---
const today = new Date();
---

<footer class="w-full py-8 px-4 md:px-8 max-w-4xl mx-auto mt-auto text-center text-sm opacity-60">
	&copy; {today.getFullYear()} Deland. All rights reserved.
    <div class="mt-2 flex justify-center gap-4">
        <a href="https://github.com" target="_blank" class="hover:text-neon-blue">GitHub</a>
        <a href="https://twitter.com" target="_blank" class="hover:text-neon-blue">Twitter</a>
    </div>
</footer>
